/Anferov/Middle_ages/Middle_ages.xcodeproj/project.xcworkspace/xcuserdata/Igor.xcuserdatad/UserInterfaceState.xcuserstate
/build/*
.DS_Store
*.cmake
Makefile
.idea
CMakeCache.txt
CMakeFiles
*.cbp
Testing/
*~
